.aboutus--container {
  color: #1D83FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.aboutus--container h1 {
  font-size: 3.5rem;
}
.aboutus--mainimg {
  width: 80vh;
  height: 50vh;
}

.aboutus--text {
  margin-top: 7vh;
  margin-bottom: 7vh;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 5vw;
}

/* .aboutus--irsEnablingText {
  color: "black";
  width: "0%";
} */

.aboutus--text h1 {
  font-size: 3.5rem;
}

.aboutus--ourservices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  margin-bottom: 5vh;
}
.aboutus--service-container {
  display: flex;
  width: 65%;
  gap: 20px;
}
.aboutus-service {
  text-align: left;
}

.aboutus--service-container p {
  color: #717171;
}

@media only screen and (max-width : 1300px) {
  .aboutus--text {
    width: 80%;
  }
  .aboutus--service-container {
    width: 80%;
  }
}

@media only screen and (max-width : 1100px) {
  .aboutus--text {
    width: 90%;
  }
}

@media only screen and (max-width : 935px) {
  .aboutus--text {
    flex-direction: column;
    gap: 0vw;
    text-align: center;
  }

  .aboutus--service-container {
    width: 90%;
  }
}

@media only screen and (max-width : 831px) {
  .aboutus--service-container {
    width: 100%;
  }
}

@media only screen and (max-width : 749px) {
  .aboutus--service-container {
    flex-direction: column;
  }
}

@media only screen and (max-width : 600px) {
  .aboutus--service-container {
    width: 70%;
  }
  .aboutus--text h1 {
    font-size: 2.5rem;
  }
  .aboutus--container h1 {
    font-size: 2.5rem;
  }
  .aboutus--irsEnablingText {
    font-size: 1.3rem;
  }

  .aboutus--service-container p {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width : 530px) {
  .aboutus--container h1 {
    font-size: 1.6rem;
  }
  .aboutus--text h1 {
    font-size: 2rem;
  }
  .aboutus--service-container h4 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width : 340px) {
  .aboutus--container h1 {
    font-size: 1.2rem;
  }
  .aboutus--irsEnablingText {
    font-size: 1.1rem;
  }
  .aboutus--service-container h1 {
    font-size: 2rem;
  }
  .aboutus--service-container p {
    font-size: 1.1rem;
  }
}