.whole-box-body {
  width: 70%;
  position: relative;
  display: contents;
}
.box-content {
  font-family: allegro;
  padding: 50px;
  padding-top: 5px;
  text-align: left;
  border: 2px solid white;
  box-shadow: 5px 8px 16px 7px rgba(0,0,0,0.2);
  margin: 30px;
}
.box-content p {
  font-size: 30px;
  text-align: left;
}
.box-content h1 {
  font-size: 50px;
  text-decoration: underline;
  text-decoration-color: rgba(91, 164, 207, 0.4);
}
@media only screen and (max-width : 740px) {
  .box-content h1 {
    font-size: 40px;
  }
  .box-content p {
    font-size: 25px;
  }
}
@media only screen and (max-width : 575px) {
  .box-content h1 {
    font-size: 30px;
  }
  .box-content p {
    font-size: 20px;
  }
}
@media only screen and (max-width : 400px) {
  .box-content h1 {
    font-size: 25px;
  }
  .box-content p {
    font-size: 15px;
  }
}
@media only screen and (max-width : 333px) {
  .box-content h1 {
    font-size: 20px;
  }
  .box-content p {
    font-size: 13px;
  }
}