.contact-img img {
    object-fit: cover;
    height: 400px;
    width: 100%;
}
.contact-title {
    position: absolute;
    margin-left: 50px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    letter-spacing: 5px;
    font-size: 65px;
    font-family: allegro;
    font-weight: bold;
    background-color: rgba(91, 164, 207, 0.6);
    color: white;
    border-radius: 5px;
}
.contact-img {
    object-fit: cover;
    height: 400px;
    padding-bottom: 50px;
}
hr {
    width: 70%;
}
.telephone {
    font-family: allegro;
    margin-right: 430px;
    border: 2px solid;
    padding: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}
.email {
    font-family: allegro;
    border: 2px solid;
    padding: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}
.contact-info {
    display: inline-flex;
}
.address {
    border: 2px solid;
    box-sizing: content-box;
    width: 1000px;
    padding: 20px;
    padding-right: 14px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    font-family: allegro;
}
@media only screen and (max-width : 1191px) {
    .telephone {
        margin-right: 200px;
    }
    .address {
        width: 775px;
    }
}
@media only screen and (max-width : 900px) {
    .telephone {
        margin-right: 100px;
    }
    .address {
        width: 674px;
    }
}
@media only screen and (max-width : 720px) {
    .telephone {
        margin-right: 50px;
    }
    .address {
        width: 620px;
    }
}
@media only screen and (max-width : 668px) {
    .telephone {
        margin-right: 30px;
    }
    .address {
        width: 600px;
    }
}
@media only screen and (max-width : 650px) {
    .contact-info {
        display: inline-block;
    }
    .email {
        margin-top: 50px;
        margin-left: -25px;
    }
    .address {
        width: 500px;
    }
    .contact-form .freebirdFormviewerViewFormContentWrapper {
        width: 50%;
    }
}
@media only screen and (max-width : 560px) {
    .address {
        width: 75%;
    }
    .contact-info {
        width: 70%;
    }
}
@media only screen and (max-width : 485px) {
    .contact-title {
        font-size: 50px;
    }
}
@media only screen and (max-width : 420px) {
    .contact-title {
        font-size: 40px;
    }
    .email-links {
        font-size: 16px;
    }
}
@media only screen and (max-width : 395px) {
    .contact-address h1 {
        font-size: 25px;
    }
    .contact-address h2 {
        font-size: 20px;
    }
    .contact-address h3 {
        font-size: 16px;
    }
    .email a {
        font-size: 14px;
    }
}
@media only screen and (max-width : 350px) {
    .contact-title {
        display: table;
        font-size: 30px;
    }
}
@media only screen and (max-width : 330px) {
    .contact-address h1 {
        font-size: 20px;
    }
    .contact-address h2 {
        font-size: 17px;
    }
    .contact-address h3 {
        font-size: 14px;
    }
    .telephone h1 {
        font-size: 20px;
    }
}
@media only screen and (max-width : 290px) {
    .email {
        padding-left: 27px;
    }
}
