.contact-img img {
    object-fit: cover;
    height: 400px;
    width: 95%;
}
.contact-title {
    position: absolute;
    margin-left: 50px;
    margin-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    letter-spacing: 5px;
    font-size: 65px;
    font-family: allegro;
    font-weight: bold;
    background-color: rgba(91, 164, 207, 0.6);
    color: white;
    border-radius: 5px;
}
.contact-img {
    object-fit: cover;
    height: 400px;
    padding-bottom: 50px;
    padding-top: 50px;
}
hr {
    width: 70%;
}
.telephone {
    font-family: allegro;
    margin-right: 430px;
    border: 2px solid;
    padding: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}
.email {
    font-family: allegro;
    border: 2px solid;
    padding: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}
.contact-info {
    display: inline-flex;
}
.address {
    border: 2px solid;
    box-sizing: content-box;
    width: 1000px;
    padding: 20px;
    padding-right: 14px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    font-family: allegro;
}
@media only screen and (max-width : 1191px) {
    .telephone {
        margin-right: 200px;
    }
    .address {
        width: 775px;
    }
}
@media only screen and (max-width : 900px) {
    .telephone {
        margin-right: 100px;
    }
    .address {
        width: 674px;
    }

}
@media only screen and (max-width : 720px) {
    .telephone {
        margin-right: 50px;
    }
    .address {
        width: 620px;
    }
}
@media only screen and (max-width : 668px) {
    .telephone {
        margin-right: 30px;
    }
    .address {
        width: 600px;
    }
}
@media only screen and (max-width : 650px) {
    .contact-info {
        display: inline-block;
    }
    .email {
        margin-top: 50px;
        margin-left: -25px;
    }
    .address {
        width: 500px;
    }
}
@media only screen and (max-width : 560px) {
    .address {
        width: 350px;
        margin-left: 75px;
    }
}
@media only screen and (max-width : 445px) {
    .address {
        width: 250px;
        margin-left: 18px;
    }
    .email {
        margin-left: 0px;
        display: inline-table;
        padding: 25px;
        width: 200px;
    }
    .telephone {
        margin-left: 26px;
    }
    .contact-title {
        font-size: 35px;
        margin-left: 30px;
        margin-top: 40px;
    }
    .contact-img {
        padding-top: 20px;

    }
    .contact-img img {
        width: 100%;
    }
}