.home--header {
    height: 100vh;
    background: #1D83FF;
    margin-top: -2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home--headerlogo {
    height: 4vh;
    max-width: 4vw;
}

.home--title {
    font-size: 3.5rem
}

.home--title2 {
    display: none;
}
.home--header-content {
    display: flex;
    justify-content: center;
    gap: 20vw;
    align-items: center;
}
.home--headerimg {
    width: 80vh;
    height: 50vh;
    position: relative;
    right: 0;
}

.home--logo {
    display: flex;
    align-items: center;
    gap: 1vw;
    position: relative;
    bottom: -5vh;
}

.home--text {
    text-align: left;
    width: 100%;
    position: relative;
    left: 10vw;
    margin-right: auto;
}

.home--certifications-container {
    display: flex;
    justify-content: center;
}

.home--certificationimg {
    width: 350px;
    height: auto;
    padding: 15px;
}

.home--info-container1 {
    background: #1D83FF;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 3%;
}

.home--info-text1 {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 1.5rem;
}


.home--info-text2 {
    display: flex;
    width: 70%;
    font-size: 1.5rem;

}

.home--info-container2 {
    color: #1D83FF;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 3%;
    font-size: 1.5rem;

}

.home--info-container3 {
    background: #1D83FF;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 3%;
    font-size: 1.5rem;
}

@media only screen and (max-width : 1575px) {
    .home--title {
        font-size: 3.5rem;
        width: 650px;
    }
}

@media only screen and (max-width : 1400px) {
    .home--title {
        font-size: 3rem;
        width: 520px;
    }
}

@media only screen and (max-width : 1250px) {
    .home--title {
        font-size: 2.3rem;
        width: 399px;
    }
    .home--certificationimg {
        width: 250px;
    }

}

@media only screen and (max-width : 1125px) {
    .home--title {
        display: none;
    }

    .home--title2 {
        display: flex;
        font-size: 2.3rem;
    }

    .home--header-content {
        flex-direction: column;
        gap: 0px;
        align-items: center;
        position: relative;
        top: -50px;
    }
    .home--text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: auto;
        text-align: center;
    }
}