.rep--container {
  color: #1D83FF;
  display: flex;
  /* align-items: center; */
}

.rep--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rep--img {
  width: 90%;
  height: auto;
}

.rep--text {
  width: 50%;
  position: relative;
  text-align: left;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

.rep--text p {
  color: #717171;
}

.rep--titleImg hr {
  width: 100%;
  opacity: 0.3;
}
.rep--titleImg {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  align-items: center;

}

.rep--titleImg h1 {
  font-size: 3.5rem;
}

@media only screen and (max-width : 1100px) {
  .rep--text {
    width: 80%;
  }
  .rep--img {
    width: 170%;
}
}

@media only screen and (max-width : 1050px) {
  .rep--titleImg h1 {
    width: 130%;
  }
}

@media only screen and (max-width : 748px) {
  .rep--titleImg h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width : 641px) {
  .rep--titleImg h1 {
    font-size: 2.3rem;
}
.rep--text h1 {
  font-size: 2rem;
}
}

@media only screen and (max-width : 491px) {
  .rep--titleImg h1 {
    font-size: 2rem;
    width: 130%;
}
.rep--text {
  font-size: 1.1em;
}
}

@media only screen and (max-width : 328px) {
  .rep--titleImg h1 {
    font-size: 1.7rem;
    width: 150%;
}

.rep--text h1 {
  font-size: 1.7rem;
}

}