.scroll-btn {
    text-align: center;
    padding: 14px 80px;
    font-size: 20px;
    font-family: allegro;
    font-weight: bold;
    background-color: #8FACBD;
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-flex;
    align-items: flex-end;
    cursor: pointer;
    text-decoration: none;
    scroll-behavior: smooth;
    position: absolute;
    top: 41%;
    left: 40%;
}
.scroll-btn:hover {
    background-color: white;
    color: #8FACBD;
  }