.taxes--container {
  color: #1D83FF;
  display: flex;
}

.taxes--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.taxes--taxImg {
  width: 90%;
  height: auto;
}

.taxes--text {
  width: 50%;
  position: relative;
  text-align: left;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

.taxes--text p {
  color: #717171;
}

.taxes--text ul {
  color: #717171;
  width: 50%;
}

.taxes--titleImg hr {
  width: 100%;
  opacity: 0.3;
}
.taxes--titleImg {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  align-items: center;

}

.taxes--titleImg h1 {
  font-size: 3.5rem;
}