.taxes--container {
  color: #1D83FF;
  /* display: flex; */
  /* align-items: center; */
}

.taxes--content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.taxes--taxImg {
  width: 50%;
  height: auto;
}

.taxes--text {
  width: 40%;
  position: relative;
  right: 7vw;
  text-align: left;
  font-size: 1.1em;
}

.taxes--titleImg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  position: relative;
  left: 4vw;
}

.taxes--titleImg h1 {
  font-size: 2.2rem;
}