.App {
  text-align: center;
  position: relative;
  height: 100%;
  font-family: "Chivo", sans-serif;
}
/*MAIN IMAGE*/

.main-image-content {
  background-image: url(/Users/ebunoludemi/sogrem-web-2.0/src/images/homepage-img.jpg);
  width: 100%;
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.over-main-img {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 7vh;
}

.main-title {
  font-size: 100px;
  font-family: allegro;
  background-color: rgba(91, 164, 207, 0.4);
  background-size: cover;
  width: 100%;
  color: white;
  letter-spacing: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title-statement {
  color: white;
  font-size: 30px;
  font-family: allegro;
  padding: 10px 0px 10px 0px;
  position: relative;
  height: 100%;
  border-style: solid;
  border-color: rgba(91, 164, 207, 0.4);
  background-color:rgba(91, 164, 207, 0.4);
  border-radius: 25px 0px 25px 0;
  width: 38%;
  left: 30%; 
} 

.title-statement2 {
  display: none;
}

.certifications-logo {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 30px;
  flex-wrap: wrap;
}
.certifications-logo > div > img {
  width: 370px;
  height: 150px;
}

#scroll {
  scroll-behavior: smooth;
}
/*HEADER*/
.App-header {
  background-color: white;
  color: white;
  overflow-x: hidden;
  height: 100%;
}

.Nav-bar {
  display: flex;
  background-color: #8FACBD;
  color: white;
  align-items: flex-start;
  position: fixed;
  width: 100%;
} 
.Nav-bar a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: allegro;
  cursor: pointer;
  height: 20px;
  color: white;
} 

.Nav-bar a:hover {
  font-weight: bold;
}
.Nav-bar a:active{
  background-color: white;
  color: black;
}
.title-navbar {
  font-size: 15px;
  font-weight: bold;
  font-family: allegro;
  letter-spacing: 2px;
  margin-left: auto;
}

.title-navbar:hover {
  background-color: #8FACBD;
  color: white;
}

.search-bar {
  float: right;
  padding-right: 20px;
}

.Nav-bar .bars-icon {
  display: none;
}
.salogo {
  display: none;
}
/*DROPDOWNS*/


/*BODY*/
.whole-hp-body {
  width: 70%;
  /* position: relative; */
  display: contents;
}
.homepage-body {
  font-family: allegro;
  padding: 50px;
  padding-top: 5px;
  text-align: left;
  border: 2px solid white;
  box-shadow: 5px 8px 16px 7px rgba(0,0,0,0.2);
  margin: 30px;
}
.homepage-body p {
  font-size: 30px;
  text-align: left;
}
.homepage-body h1 {
  font-size: 50px;
  text-decoration: underline;
  text-decoration-color: rgba(91, 164, 207, 0.4);
}
.homepage-body2 {
  font-family: allegro;
  padding: 50px;
  padding-top: 5px;
  text-align: left;
  border: 2px solid white;
  box-shadow: 5px 8px 16px 7px rgba(0,0,0,0.2);
  margin: 30px;
}
.homepage-body2 p {
  font-size: 30px;
  text-align: left;
}
.homepage-body2 h1 {
  font-size: 50px;
  text-decoration: underline;
  text-decoration-color: rgba(91, 164, 207, 0.4);
}
.homepage-body3 {
  font-family: allegro;
  padding: 50px;
  padding-top: 5px;
  text-align: left;
  border: 2px solid white;
  box-shadow: 5px 8px 16px 7px rgba(0,0,0,0.2);
  margin: 30px;
}
.homepage-body3 p {
  font-size: 30px;
  text-align: left;
}
.homepage-body3 h1 {
  font-size: 50px;
  text-decoration: underline;
  text-decoration-color: rgba(91, 164, 207, 0.4);
}
.homepage-body3 a {
  color: blue;
  text-decoration: none;
}
.homepage-body3 a:hover {
  text-decoration: underline;
}
.homepage-body4 {
  font-family: allegro;
  padding: 50px;
  padding-top: 5px;
  text-align: left;
  border: 2px solid white;
  box-shadow: 5px 8px 16px 7px rgba(0,0,0,0.2);
  margin: 30px;
}
.homepage-body4 p {
  font-size: 30px;
  text-align: left;
}
.homepage-body4 h1 {
  font-size: 50px;
  text-decoration: underline;
  text-decoration-color: rgba(91, 164, 207, 0.4);
}
.check-links a {
  color: black;
  text-decoration: underline;
}
.responsive-nav {
  display: none;
}
/*FOOTER*/
.more-info {
  font-family: allegro;
}
.more-info a, .more-info a:visited {
  color: blue;
}
/* @MEDIA  */
@media only screen and (max-width : 1300px) {
  .main-title {
    font-size: 80px;
  }
}
@media only screen and (max-width : 1330px) {
  .title-statement {
    font-size: 25px;
  }
}
@media only screen and (max-width : 1134px) {
  .title-navbar {
    display: none;
  }
  .salogo img {
    width: 30px;
    height: 30px;
    margin-top: -3px;
  }
  .salogo {
    display: flex;
    float: right;
    margin-left: auto;
  }
  .title-statement {
    font-size: 23px;
  }
}
@media only screen and (max-width : 1077px) {
  .main-title {
    font-size: 70px;
  }
}
@media only screen and (max-width : 995px) {
  .title-statement {
    font-size: 21px;
  }
  .over-main-img {
    top: 9vh;
  }
 
}
@media only screen and (max-width : 955px) {
  .main-title {
    font-size: 68px;
  }
}
@media only screen and (max-width : 911px) {
  .main-title {
    font-size: 66px;
  }
}

@media only screen and (max-width : 900px) {
  .main-title {
    font-size: 60px;
  }
  .Nav-bar {
    display: none;
    width: 100%;
    height: 60px;
  }
  .responsive-nav {
    display: block;
  }
  .Nav-bar a {
    display: none;
  }
  .taxes-dropdown {
    display: none;
  }
  .title-navbar {
    font-size: xx-large;
    float: right;
    padding-right: 30px;
    display: block;
    margin-top: 10px;
  }
  .title-statement {
    font-size: 20px;
  }
  .Nav-bar .bars-icon {
    display: block;
    background-color: #8FACBD;
    color: white;
    font-size: 25px;
    margin: 3px;
  }
  .Nav-bar .bars-icon:hover {
    background-color: #8FACBD;
    color: #ddd;
  }
  .salogo {
    display: none;
  }
}
@media only screen and (max-width : 880px) {
  .title-statement {
    font-size: 18px;
    width: 58%;
    left: 20%;
  }

}
@media only screen and (max-width : 845px) {
  .main-title {
    font-size: 50px;
  }
}

@media only screen and (max-width : 840px) {
  .main-title {
    font-size: 45px;
  }
}
@media only screen and (max-width : 670px) {
  .main-title {
    font-size: 40px;
  }
}
@media only screen and (max-width : 615px) {
  .main-title {
    font-size: 35px;
  }
}
@media only screen and (max-width : 560px) {
  .main-title {
    font-size: 40px;
  }
}
@media only screen and (max-width : 510px) {
  .title-statement {
    font-size: 35px;
  }
}
