.App {
  text-align: center;
  position: relative;
  height: 100%;
}
/*MAIN IMAGE*/
.main-image {
  width: 100%;
  object-fit: cover;
  height: 685px;
}
.main-image-texts {
  position: relative;
  text-align: center;
  color: white;
}
.promise {
  position: absolute;
  /*top: 266px;*/
  font-size: 100px;
  margin-bottom: auto;
  font-family: allegro;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 10px;
  /*text-shadow: 5px 5px 10px black;*/
  /*border: 5px solid #17B019;*/
  /*color: #17B019;*/
  animation-name: intro;
  animation-duration: 3s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  background-color: rgba(91, 164, 207, 0.4);
  width: 100%;
}
@keyframes intro {
  from{top: -68px;}
  to{top: 266px;}
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/*MAIN TITLE*/
.main-title {
  text-align: left;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: allegro;
  color: #8FACBD;
  text-decoration: none;
  font-size: 60px;
  font-weight: bold;
  display: block;
  letter-spacing: 3px;
  /*text-shadow: 2px 9px 8px;*/
}

/*HEADER*/
.App-header {
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*NAVIGATION BAR*/
.Nav-bar {
  overflow: hidden;
  background-color: #8FACBD;
} 
.Nav-bar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: allegro;
  color: inherit;
}
.Nav-bar a:hover, .dropdown:hover .dropbtn{
  background-color: white;
  color: black;
}
.Nav-bar a:active{
  background-color: white;
  color: black;
}
.search-bar {
  float: right;
  padding-right: 20px;
}
/* DROPDOWN*/

.dropdown {
  float: left;
}
.dropbtn {
  font-size: 17px;
  text-align: center;
  background-color: #831A04;
  font-family: allegro;
  color: white;
  border: none;
  padding: 14px 16px;
}
.dropbtn:hover {
  background-color: white;
  color: black;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  color: #8FACBD;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: allegro;
  margin: 0;
}
/*.dropdown:hover {
  background-color: white;
  color: black;
}*/

.dropdown:hover .dropdown-content {
  display: block;
}

/*SIGN UP AND LOG IN BUTTON*/

.signup-login {
  text-align: right;
  display: inline-flex;
  padding-left: 550px;
  /*float: right;*/
}

/*.sign-up-btn {
  color: green;
}

.login-btn {
  color: green;
}*/

/*FOOTER*/
footer {
  background-color: #f0f0f0;
  padding-top: 1px;
  padding-bottom: 50px;
  /*display: flow-root;*/
}
.footer-parent-div {
  bottom: 0px;
  position: inherit;
  width: 100%;
}

p {
  font-family: allegro;
}

h2 {
  font-family: allegro;
}
.App-link {
  color: #61dafb;
}

/*BODY*/
.body {
  padding: 20px;
  text-align: left;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
