.App {
  text-align: center;
}
/*MAIN IMAGE*/
.main-image {
  height: 550px;
  pointer-events: none;
  width: 900px;
  border-radius: 12px;
  padding-top: 70px;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/*MAIN TITLE*/
h1 {
  text-align: left;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: allegro;
  color: #831A04;
}

/*HEADER*/
.App-header {
  background-color: #EADEDC;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*NAVIGATION BAR*/
.Nav-bar {
  overflow: hidden;
  background-color: #831A04;
} 
.Nav-bar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: allegro;
  color: inherit;
}
.Nav-bar a:hover, .dropdown:hover .dropbtn{
  background-color: white;
  color: black;
}
.Nav-bar a:active{
  background-color: white;
  color: black;
}
.search-bar {
  float: right;
  padding-right: 20px;
}
/* DROPDOWN*/

.dropdown {
  float: left;
}
.dropbtn {
  font-size: 17px;
  text-align: center;
  background-color: #831A04;
  font-family: allegro;
  color: white;
  border: none;
  padding: 14px 16px;
}
.dropbtn:hover {
  background-color: white;
  color: black;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  color: #831A04;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: allegro;
  margin: 0;
}
/*.dropdown:hover {
  background-color: white;
  color: black;
}*/

.dropdown:hover .dropdown-content {
  display: block;
}

/*SIGN UP AND LOG IN BUTTON*/

.signup-login {
  text-align: right;
  display: inline-flex;
  padding-left: 550px;
  /*float: right;*/
}

/*.sign-up-btn {
  color: green;
}

.login-btn {
  color: green;
}*/

/*FOOTER*/
footer {
  background-color: #EADEDC;
  padding-top: 1px;
  padding-bottom: 50px;
  /*display: flow-root;*/
}

p {
  font-family: allegro;
}

h2 {
  font-family: allegro;
}
.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
