.responsive-nav-div {
    display: block;
    background-color: rgba(91, 164, 207, 0.4);
}
.whole-nav-bar {
    overflow: hidden;
    background-color: #8FACBD;
  } 
.whole-nav-bar a {
    padding: 14px 16px;
    text-decoration: none;
    font-family: allegro;
    color: white;
    height: 20px; 
    display: block;
    clear: left;
    float: left;
}
.whole-nav-bar a:hover {
    background-color: white;
    color: black;
}
.navbar-title {
    font-size: 25px;
    font-family: allegro;
    font-weight: bold;
    letter-spacing: 2px;
    display: inline-flex;
    float: right;
    padding-right: 15px;
    text-align: center;
    margin-bottom: auto;
    margin-top: 10px;
}
.bars-icon {
    float: left;
    cursor: pointer;
}
@media only screen and (max-width : 293px) {
    .navbar-title {
        font-size: 20px;
    }
}
  